@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
}

.hidden {
  display: none;
}

.description {
  margin: 30px;
}

.divButton {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 81%;
}

.divWrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 19%;
  width: calc(100% - 25px);
  margin-top: auto;
  margin: 10px;
  z-index: 30;
  background-color: rgba(179, 188, 189, 0.863);
  border: solid rgba(0, 0, 0, 0);
  border-width: 3px 3px 3px 3px;
  border-radius: 99% 2% 99% 1%/3% 98% 2% 95%;
}

footer .panel {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 1px;
  right: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.panel i {
  font-size: 1.3em;
  margin-top: 17px;
  margin-right: 10px;
  color: black;
  transition: transform 0.2s;
}

i:hover {
  transform: scale(1.2);
}

.divVie {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.name {
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Comic Sans Ms";
  font-weight: 900;
  font-size: 1.2em;
}

.phrase {
  font-family: "Comic Sans Ms";
  font-size: 1.05em;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  color: rgb(238, 255, 0);
  color: black;
}

.divBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.divChoice {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 44, 44, 0.438);
}

.divChoice button {
  width: 300px;
  height: 80px;
  margin: 25px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: rgba(240, 248, 255, 0.938);
  transition: transform 0.2s;
}

.divChoice button:hover {
  transform: scale(1.2);
}
