@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --main-color: rgba(255, 255, 255, 0.67);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  background-image: url(https://phonoteka.org/uploads/posts/2022-01/1642997574_51-phonoteka-org-p-anime-fon-polyana-56.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.hiddenOppacity {
  opacity: 0;
}

.mediaContent {
  position: absolute;
  opacity: 0;
}

.description {
  margin: 30px;
  width: 85%;
  height: 70%;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
}

.description hr {
  width: 50%;
}

.divButton {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 81%;
}

.divWrapper {
  position: absolute;
  z-index: 120;
  width: 100%;
  height: 100%;
}

.monologPanel {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textPanel {
  position: relative;
  z-index: 100;
  width: 65%;
  height: 65%;
  background-color: var(--main-color);
  border-width: 3px 3px 3px 3px;
  border-radius: 99% 2% 99% 1%/3% 98% 2% 95%;
  padding: 30px;
  font-family: "Comic Sans MS";
  font-size: 1.05em;
}

footer {
  position: absolute;
  bottom: 0;
  height: 19%;
  width: calc(100% - 25px);
  margin-top: auto;
  margin: 10px;
  z-index: 30;
  background-color: var(--main-color);
  border: solid rgba(0, 0, 0, 0);
  border-width: 3px 3px 3px 3px;
  border-radius: 99% 2% 99% 1%/3% 98% 2% 95%;
  transition: opacity 0.3s ease;
}

footer .panel {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 1px;
  right: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.panel i {
  position: relative;
  z-index: 91;
  font-size: 1.3em;
  margin-top: 17px;
  margin-right: 10px;
  color: black;
  transition: transform 0.2s;
}

i:hover {
  transform: scale(1.2);
}

.divVie {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.name {
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Comic Sans MS";
  font-weight: 900;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.phrase {
  font-family: "Comic Sans MS";
  font-size: 1.05em;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  color: black;
}

.divBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.7s ease-out;
  transition-delay: 0.7s;
}

.spraitTransform {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.divChoice {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 44, 44, 0.438);
}

.divChoice button {
  width: 300px;
  height: 80px;
  margin: 25px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: rgba(240, 248, 255, 0.938);
  transition: transform 0.2s;
}

.divChoice button:hover {
  transform: scale(1.2);
}

.BtnMenu {
  position: absolute;
  z-index: 200;
  min-width: 300px;
  min-height: 80px;
  left: calc(60%);
  top: calc(6%);
  place-items: center;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s;
}

.BtnMenu:hover {
  transform: scale(1.05);
}

/* .NewGameBtn {
} */

.LoadGameBtn {
  top: calc(20%);
}

.btnClick:hover {
  transform: scale(1.7);
}

.slaiderInput {
  position: relative;
  z-index: 200;
  width: 160px;
}

/* Медиа запросы */

@media only screen and (max-height: 610px) {
  /* Стили для устройств с высотой экрана больше 610 пикселей (компьютеры) */
  .name {
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Comic Sans MS";
    font-weight: 900;
    font-size: 1.1em;
  }

  .phrase {
    font-family: "Comic Sans MS";
    font-size: 1em;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .panel i {
    font-size: 1.2em;
    margin-top: 5px;
  }
  .divButton {
    height: 78%;
  }

  footer {
    height: 21%;
  }

  .textPanel p {
    font-size: 0.85em;
  }

  .BtnMenu {
    position: absolute;
    z-index: 200;
    min-width: 240px;
    min-height: 50px;
    left: calc(60%);
    top: calc(15%);
    font-size: 1.3em;
  }

  .LoadGameBtn {
    top: calc(28%);
  }

  .description {
    margin: 30px;
    width: 90%;
    height: 70%;
  }
  .description hr {
    width: 57%;
  }
}

@media only screen and (max-height: 450px) {
  /* Стили для устройств с высотой экрана больше 450 пикселей (компьютеры) */
  .name {
    margin-top: 3px;
    margin-left: 20px;
    font-family: "Comic Sans MS";
    font-weight: 900;
    font-size: 0.9em;
  }

  .phrase {
    font-family: "Comic Sans MS";
    font-size: 0.85em;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
  }

  .panel i {
    font-size: 1.1em;
    margin-top: 3px;
  }

  .divButton {
    height: 78%;
  }

  footer {
    height: 21%;
  }

  .textPanel p {
    font-size: 0.8em;
  }

  .BtnMenu {
    position: absolute;
    z-index: 200;
    min-width: 240px;
    min-height: 50px;
    left: calc(60%);
    top: calc(18%);
    font-size: 1.3em;
  }

  .LoadGameBtn {
    top: calc(33%);
  }

  .description {
    margin: 30px;
    width: 90%;
    height: 70%;
  }
  .description hr {
    width: 57%;
  }
}
